-var presetExists = item!==undefined
-var preset = item

.btn-group
  button.btn.btn-default#selectAll Select all 
  button.btn.btn-default#selectNone Select none

fieldset#infos
  //- legend.required
  legend.wb-inv
    span.field-name Select sections to include 
    //- strong.required (required)
  each item, i in item_list
    -var selected = itemExists && preset.infos.indexOf(item.id) > -1 ? 'checked' : false
    .checkbox(class=item.subsection ? 'level2' : false)
      label(for=item.id)
        input(id=item.id type='checkbox' name='infos' value=item.id checked=selected)
        | #{item.name}