extends layout

block content
  h1#wb-cont(property="name")= title
  form(method='POST' action='' novalidate='novalidate')
    .form-group
      label(for='preset') Load preset
      select#preset.form-control(name='preset')
        option(value='custom') Custom (specify sections below)
        each preset in preset_list
          option(value=preset.id) #{preset.name}

    include includes/select

    button.btn.btn-primary(type='submit' formaction='output-en') Download (EN)
    button.btn.btn-primary(type='submit' formaction='output-fr') Download (FR)
  
  //- Hidden data (for client-side javascript)
  .hidden#preset-data
    ul.preset#custom
    each preset in preset_list
      ul.preset(id=preset.id)
        each info in preset.infos
          li #{info}